<div class="flex relative bg-customHsl-bkg dark:bg-gray-800 p-10
    rounded-[25px] before:inset-2 before:absolute before:border-2
    before:border-dashed before:rounded-3xl before:border-customHsl-white dark:before:border-gray-600
    shadow-sm border-t-2 border-l-2 border-l-white dark:border-l-gray-700 border-solid
    border-r-2 border-b-2 border-r-customHsl-bkg dark:border-r-gray-900 border-b-customHsl-bkg dark:border-b-gray-900
">
  <div class="relative z-10 top-0 left-0 w-full h-full">
    <ng-content></ng-content>
  </div>
</div>
