<div class="budget-detail-container w-full h-full flex flex-col gap-y-8 p-8 bg-gray-50 rounded-lg shadow-sm">
  <div class="flex justify-between items-center">
  <h2 class="text-4xl font-bold flex items-center gap-x-2">
    <span class="{{uiService.generateTailwindClass(budgetCard.color, 'text')}}">{{budgetCard.name}}</span>
    <span class="text-gray-700">Overview</span>
  </h2>
    </div>


  <!--Budget-card-->
  <div class="flex flex-col md:flex-row w-full gap-y-8 md:gap-x-8">
    <div class="w-full md:w-[40%]">
      <app-budget-card
        [isDelete]="true"
        [config]="budgetCard"
        class="budget-card w-full transition-all hover:shadow-md"
      ></app-budget-card>
    </div>

    <app-form-wrapper class="flex-1">
      <div [formGroup]="expenseForm" class="input-form flex flex-col gap-y-4">
        <div class="h-8 w-8 rounded-full bg-red-100 flex items-center justify-center mr-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z" clip-rule="evenodd" />
          </svg>
        </div>
        <h3 class="font-bold text-2xl">Add New Expense</h3>

        <div class="text-input-container w-full flex gap-x-6">
          <div class="ext-inputs flex flex-col gap-y-2">
            <label class="text-[19px] font-bold">Expense Name</label>
            <input formControlName="name" type="text" class="input-select" placeholder="e.g Coffee" />
          </div>

          <div class="text-inputs flex flex-1 flex-col  gap-y-2">
            <label class="text-[19px] font-bold">Amount</label>
            <input formControlName="amount" type="number" class="input-select" placeholder="e.g, MDL 120" />
          </div>
        </div>


        <button (click)="addExpense()" class="btn bg-customHsl-text
                 text-white border-none w-fit text-[19px]">
          Add Expense
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
               fill="currentColor" aria-hidden="true" width="20">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </app-form-wrapper>
  </div>

  @if ( expenseTableData && expenseTableData.length > 0) {
    <app-table [data]="expenseTableData" (removeRow)="handleAction($event)"></app-table>
  }
</div>
