

@if(config && config.color && borderColor && textColor) {
  <div class="flex flex-col gap-4 border-2 border-solid {{borderColor}} py-4 px-5 rounded-[25px] bg-white">
    <div class="progress-text flex w-full justify-between items-center">
      <p class="text-2xl {{textColor}} font-bold">{{config.name}}</p>
      <p class="text-2xl {{textColor}}">{{config.budget | currency:'R'}} Budgeted</p>
    </div>

    <div class="progress-bar w-full h-4 appearance-none border-none rounded-[100vmax]
    overflow-hidden relative bg-gray-300">

      <div class="progress-bar h-full absolute top-0 left-0 z-2" ></div>
    </div>
  </div>
}
